<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>

  <couchbase>
    <servers bucket="default" bucketPassword="">
      <add uri="http://10.0.210.2:8091/pools/default"/>
    </servers>
  </couchbase>

  <appSettings>
    <add key="ServiceDirectory" value="C:\Users\fyhr\Desktop\repositories\Portal-HttpModule\src\app\CHAOS.Portal.Web"/>
    <add key="AnonymousUserGUID" value="C0B231E9-7D98-4F52-885E-AF4837FAA352"/>
    <add key="LOG_LEVEL" value="Debug" />
  </appSettings>

  <connectionStrings>
    <add name="PortalEntities"
         connectionString="metadata=res://*/Data.EF.Portal.csdl|res://*/Data.EF.Portal.ssdl|res://*/Data.EF.Portal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=stagemysql00.cpwvkgghf9fg.eu-west-1.rds.amazonaws.com;User Id=portal;password=oAKn7ER36A;database=Portal;Persist Security Info=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- IIS 6 (and cassini) Hosting -->
    <httpModules>
      <add name="Portal" type="CHAOS.Portal.Core.HttpModule.PortalHttpModule" />
    </httpModules>
  </system.web>
  
  <system.webServer>
    
    <!-- IIS 7 Hosting -->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="Portal"/>
      <add name="Portal" 
           type="CHAOS.Portal.Core.HttpModule.PortalHttpModule" 
           preCondition="managedHandler"/>
    </modules>
  </system.webServer>

</configuration>
